@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;

    /* font: normal 16px 'Roboto Slab', sans-serif; */
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
}

.info p {
    color:#0f141e;
    margin: 0px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* word-spacing: 3px; */
}

.box {
    width: 750px;
    margin: auto;
    padding-top: 30px;
    display:block;
}


.bg1 {
    background-color:coral;
}

.bg2 {
    background-color:bisque;
}

.bg3 {
    background-color:darkgray;
}

.card {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 4px 30px;
    
}
.info {
    margin-bottom: 20px;
    display:flex;
}

@media (max-width:700px) {
    .info {
        text-align: center;
        display: block;
    }
}
.info1 {
    margin-left: 30px;
}
.info1 h4 {
    margin-bottom: 10px;
}

.card h2 {
    margin-bottom: 10px;
    
}

.list {
    padding: 0 20px;
}
.list li {
    margin-bottom: 3px;
    list-style: square;
}

.table {
    width: 100%;
    /* text-align: center; */
}

/* .table td {
    padding: 0 25px;
} */

.group1 label {
    display: block;
    font-size: 14px;
    color: #86898f
}

.group h2 {
    text-align: center;
}
.group1 input, .group textarea {
    padding: 10px 0 10px;
    border: none;
    box-sizing:border-box;
    width: 100%;
    background: transparent;
    font-family: inherit;
    color: black;
    outline: none;
    border-bottom: 1px solid #ccc;
}
.row {
    display:flex;
    margin-bottom: 20px;
}

.row > .group1:last-child {
    margin-right: 0px;
}

.row > .group1{
    width: 50%;
    margin-right: 20px;
}

.btn {
    background:black;
    color:white;
    cursor:pointer;
    font-family: inherit;
    border:none;
    padding: 15px 20px;
    border-radius: 14px;
}
.btn:hover {
    opacity: 0.9;
}

.rand {
    margin: 1px;
    padding: 1px 0px;
    cursor:pointer;
}